@page
@model Ibas.MenuApp.Pages.ContactInfoModel

 

@{
    ViewData["Title"] = "Contact info";

}
    <head>
        <title>Contact Information</title>
    </head>
    <body>
        <h1>Contact Information for Karen</h1>
        <p>Name: Karen Smith</p>
        <p>Email: <a href="mailto:karen@example.com">karen@example.com</a></p>
        <p>Phone: +1 (123) 456-7890</p>
        <p>Address: 123 Main Street, Cityville, State 12345</p>
    </body>
