@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
  <tr>
    <th>Dag</th>
    <th>Varm ret</th>
    <th>Kolde retter</th>
  </tr>
  <tr>
    <td>Man 02</td>
    <td>Græskarsuppe</td>
    <td>Smørrebrød</td>
  </tr>
  <tr>
    <td>Tirs 03</td>
    <td>Boller i karry</td>
    <td>Pasta salat</td>
  </tr>
    <tr>
    <td>Ons 04</td>
    <td>Hvidløgsbrød og pølser</td>
    <td>Koldeskål</td>
  </tr>
    <tr>
    <td>Tors 05</td>
    <td>Pizza</td>
    <td>Rugbrød</td>
  </tr>
    <tr>
    <td>Fre 06</td>
    <td>Pasta carbonara</td>
    <td>Toast</td>
  </tr>
</table>