@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table>
    <thead>
        <tr>
            <th>Uge dage</th>
            <th>Varme retter</th>
            <th>Kolde retter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in IndexModel.menu)
        {
            <tr>
                <td>@item.UgeDag</td>
                <td>@item.VarmeRetter</td>
                <td>@item.KoldeRetter</td>
            </tr>
        }
    </tbody>
</table>